/*p {
    color: red;
}

h1{
    color: white;
    font: serif;
    background-color: blue;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: thick;
    border-color: black;
    width: 100%;
    height: 20%;
}

ul li #elPremio{
    font: cursive;
}

.CarroFino{
    font:strong;
    color:blue;
}
*/

#content{
    border: 1px black double;
}

.textcard{
  border: 1px brown dotted;
  background-color: beige;
  width: 150px;
}


ul{
    display: inline;
    width: auto;
}
ul li{
    display: inline-block;
    margin-left:5px;
    list-style:none;
    text-align: center;
    padding: 10px
}

ul li p a:link{
    color: cyan;
}

ul li p a:visited{
    color:pink;
}


ul li:hover{
    padding:5px;
}


div[name = "publicidad"]{
    
}